<header>
    <nav class="container">
        <div class="md-form input-group">
            <input type="text" name="text" [(ngModel)]="searchModel.text" id="form1" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn nav__button" (click)="search()" type="button">Go!</button>
            </span>
        </div>
        <div *ngIf="collapseFilters">
            <div>
                Sort by :
                <button [ngClass]="[searchModel.sortBy == 'publishedAt' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterSort('publishedAt')" type="button">Date</button>
                <button [ngClass]="[searchModel.sortBy == 'relevancy' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterSort('relevancy')" type="button">Relevance</button>
                <button [ngClass]="[searchModel.sortBy == 'popularity' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterSort('popularity')" type="button">Popularity</button>
            </div>
            <div>
                Filter language :
                <button [ngClass]="[searchModel.language == 'de' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterLanguage('de')" type="button">DE</button>
                <button [ngClass]="[searchModel.language == 'en' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterLanguage('en')" type="button">EN</button>
                <button [ngClass]="[searchModel.language == 'es' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterLanguage('es')" type="button">ES</button>
                <button [ngClass]="[searchModel.language == 'fr' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterLanguage('fr')" type="button">FR</button>
                <button [ngClass]="[searchModel.language == 'it' ? 'btn nav__btn-filters--selected' : 'btn nav__btn-filters']" (click)="filterLanguage('it')" type="button">IT</button>
            </div>
            <div class="container row">
                From :
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text" placeholder="From" class="form-control" bsDatepicker [(ngModel)]="searchModel.from">
                </div>
                To :
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text" placeholder="To" class="form-control" bsDatepicker [(ngModel)]="searchModel.to">

                </div>
            </div>
        </div>
        <p>
            <button class="btn nav__btn-more-filters" (click)="collapseFilter()" type="button">
                More filters
            </button>
        </p>
    </nav>
</header>
<main class="container">
    <div class="main__title">
        <span *ngIf='searchModel.sortBy == "publishedAt"'>THE LATEST </span>
        <span *ngIf='searchModel.sortBy == "relevancy"'>THE MOST RELEVANT </span>
        <span *ngIf='searchModel.sortBy == "popularity"'>THE MOST POPULAR </span>
        {{searchModel.text}} ARTICLES</div>
    lagn : {{searchModel.language}}
    <span *ngIf='from'>/ from {{searchModel.from | date}}</span>
    <span *ngIf='to'> to {{searchModel.to | date}}</span> 
    <article *ngFor="let article of articles">
        <section class="section row" [routerLink]="['/article/', article.givenId]">
            <div class="col-lg-3 col-12 section__image-list" *ngIf="article.urlToImage" [ngStyle]="{'background': 'url(' + article.urlToImage + ') no-repeat 0 0 / cover'}">
            </div>
            <div class="col-lg-3 col-12 section__image-list" *ngIf="!article.urlToImage" [ngStyle]="{'background': 'url(../../../assets/images/noImage.jpg) no-repeat 0 0 / cover'}">
            </div>
            <div class="section__brief col-lg-9 col-12">
                <div>
                    <span>
                        <b>{{article.author}}</b>
                    </span>
                </div>
                <div class="section__timestamp">
                    {{article.publishedAt | date }}
                </div>
                <div>
                    <h2>{{(article.title.length>69)? (article.title | slice:0:69)+'..':(article.title)}}</h2>
                </div>
                <div>
                    {{(article.description.length>158)? (article.description |
                    slice:0:158)+'..':(article.description)}}
                </div>
            </div>
        </section>
    </article>
</main>
